@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary: hsl(260, 19%, 6%);
  --secondary: hsl(257, 33%, 19%);
  --white: hsl(240, 9%, 89%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
}

.float {
  float: left;
  width: 100px;
  margin-right: 1rem;
}

.cover-img {
  border-radius: 6px;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.card {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  color: var(--white);
  text-align: center;
  padding: 3rem 3rem 1rem;
}

.song-name {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0 1rem;
}

.controls {
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
  padding: 2rem;
}

.left {
  grid-column: 6;
  grid-row: span 2;
}

.left .cover-img {
  margin-bottom: 2rem;
}

.right {
  grid-column: 7;
}

.bottom-right {
  grid-column: 7;
}
